.black_font
  = form_for(@staff) do |f|
    - if @staff.errors.any?
      #error_explanation
        %h2
          = pluralize(@staff.errors.count, "error")
          prohibited this staff from being saved:
        %ul
          - @staff.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :nickname
      %br/
      = f.text_field :nickname
    .field
      = f.label :password
      %br/
      = f.text_field :password
    .field
      = f.label :admin_flag
      %br/
      = f.check_box :admin_flag
    = f.fields_for :staffdetail do |sd|
      .field
        = sd.label :name
        %br/
        = sd.text_field :name
      .field
        = sd.label :read
        %br/
        = sd.text_field :read
      .field
        = sd.label :address
        %br/
        = sd.text_field :address
      .field
        = sd.label :birthday
        %br/
        = sd.date_select :birthday
      .field
        = sd.label :phone_number
        %br/
        = sd.text_field :phone_number
      .field
        = sd.label :cell_number
        %br/
        = sd.text_field :cell_number
    .actions
      = f.submit
