%header#header
  #inner
    %h1 スタッフ一覧
#contents.clearfix
  = render 'shared/side_menu'
  
  %main#main
    %p#notice= notice
    .black_font
      %h1 確認したいスタッフを選択してください
      %table.table.table-bordered.table-striped
        %thead
          %tr.info
            %th ログイン名
            %th スタッフ名
            %th 管理者／一般
            %th{:colspan => "3"}
        %tbody
          - @staffs.each do |staff|
            %tr
              %td= staff.nickname
              %td= staff.staffdetail.name
              %td
                - if staff.admin_flag
                  管理者スタッフ
                - else
                  一般スタッフ
              %td= link_to '詳細', staff
              %td= link_to '編集', edit_staff_path(staff)
              %td= link_to '削除', staff, method: :delete, data: { confirm: 'このスタッフを削除しますか？' }
      %br/
    = link_to '新規スタッフの登録', new_staff_path, class:'btn btn-warning'

%footer#footer
  #inner
