<p id="notice"><%= notice %></p>

<h1>Listing Staffdetails</h1>

<table>
  <thead>
    <tr>
      <th>Staff</th>
      <th>Name</th>
      <th>Read</th>
      <th>Address</th>
      <th>Birthday</th>
      <th>Phone number</th>
      <th>Cell number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffdetails.each do |staffdetail| %>
      <tr>
        <td><%= staffdetail.staff %></td>
        <td><%= staffdetail.name %></td>
        <td><%= staffdetail.read %></td>
        <td><%= staffdetail.address %></td>
        <td><%= staffdetail.birthday %></td>
        <td><%= staffdetail.phone_number %></td>
        <td><%= staffdetail.cell_number %></td>
        <td><%= link_to 'Show', staffdetail %></td>
        <td><%= link_to 'Edit', edit_staffdetail_path(staffdetail) %></td>
        <td><%= link_to 'Destroy', staffdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staffdetail', new_staffdetail_path %>
