%header#header
  #inner
    %h1 日毎契約一覧

#contents.clearfix
  = render 'shared/side_menu'
  %main#main
    #daily_contracts
      = form_tag( url: daily_contracts_report_path, id: :select_report_day) do
        = label :daily_contracts_scope, '契約日'
        = date_field_tag :contracts_date
        = submit_tag '指定した日付を表示' 
      %hr
      #daily_contracts_total
        .lead= @contracts_date.to_date.strftime('%Y年%-m月%-d日').concat('の契約一覧')
        合計  #{@contracts_total[0][0]}件 #{number_to_currency(@contracts_total[0][1], unit: '\\', format: '%u%n')}
        %br
        １号地  #{@contracts_total[1][0]}件 #{number_to_currency(@contracts_total[1][1], unit: '\\', format: '%u%n')},
        バイク  #{@contracts_total[2][0]}件 #{number_to_currency(@contracts_total[2][1], unit: '\\', format: '%u%n')},
        ２号地  #{@contracts_total[3][0]}件 #{number_to_currency(@contracts_total[3][1], unit: '\\', format: '%u%n')}

      %br
      #daily_contracts_list
        %table.table.table-bordered.table-striped
          %thead
            %tr.success
              %th 契約種別
              %th 車種
              %th 契約番号
              %th 氏名
              %th 契約月
              %th 金額
              %th 担当者
          %tbody
            - @contracts_list.each do |contract|
              -if contract
                %tr
                  %td 
                    - if contract[:new_flag]
                      .new_contract_contract
                        新規
                    - else
                      更新
                  %td 
                    - case contract[:vhiecle_type]
                    - when 1
                      自転車
                    - when 2 
                      - unless contract[:largebike_flag] == 't'
                        バイク
                      - else
                        大型バイク
                    - when 3
                      ２号地
                  %td= contract[:number] 
                  %td= contract[:first_name] + ' ' + contract[:last_name]
                  %td= contract.seals.map{|seal| seal.month.strftime('%-m')}.join(', ')
                  %td
                    =number_to_currency(contract[:money1], unit: '\\', format: '%u%n')
                    - if contract[:money2] > 0 
                      %br
                      =number_to_currency(contract[:money2], unit: '\\', format: '%u%n')
                  %td= contract[:staff_nickname]
%footer#footer
  #inner
