<p id="notice"><%= notice %></p>

<%= render 'shared/customer_table' %>
<br/>
<table border="1" cellspacing="0" cellpadding="2">
  <tr>
    <th>開始月</th><th>期間１</th><th>金額１</th><th>期間２</th><th>金額２</th><th>契約日</th><th>更・新</th><th>担当者</th>
  </tr>

<% @contracts.each do |c| %>
  <tr>
    <td><%= c.start_month.strftime('%Y/%m') %></td>
    <td><%= c.term1 %></td>
    <td><%= c.money1 %></td>
    <td><%= c.term2 %></td>
    <td><%= c.money2 %></td>
    <td><%= c.contract_date.strftime('%m/%d') %></td>
    <td><% if c.new_flag then %>新規<% else %>更新<% end %></td>
    <td><%= c.staff_nickname %></td>
    <td><%= link_to '編集', edit_leaf_contract_path(c.leaf, c) %></td>
    <td><% if c.id == @contracts.last.id %>
          <%= link_to '削除', leaf_contract_path(c.leaf, c), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to '戻る', leaf_path(@leaf) %>
