.black_font
  %p#notice= notice
  = render 'shared/customer_table'
  %br/
  // %table{:border => "1", :cellpadding => "2", :cellspacing => "0"}
  %table#contracts_index.table.table-bordered.table-striped
    %thead
      %tr.success
        %th 開始月
        %th 期間１
        %th 金額１
        %th 期間２
        %th 金額２
        %th 契約日
        %th 更・新
        %th 担当者
        %th 編集
        %th 削除
    %tbody
      - @contracts.each do |c|
        %tr
          %td= c.start_month.strftime('%Y/%m')
          %td= c.term1
          %td= c.money1
          %td= c.term2
          %td= c.money2
          %td= c.contract_date.strftime('%m/%d')
          %td
            - if c.new_flag then
              新規
            - else
              更新
          %td= c.staff_nickname
          %td= link_to '編集', edit_leaf_contract_path(c.leaf, c)
          %td
            - if c.id == @contracts.last.id
              = link_to '削除', leaf_contract_path(c.leaf, c), method: :delete, data: { confirm: '本当に削除しますか？' }
  %br/
  = link_to '戻る', leaf_path(@leaf)
