<p id="notice"><%= notice %></p>

<p>
  <strong>Leaf:</strong>
  <%= @contract.leaf %>
</p>

<p>
  <strong>Contract date:</strong>
  <%= @contract.contract_date %>
</p>

<p>
  <strong>Start month:</strong>
  <%= @contract.start_month %>
</p>

<p>
  <strong>Term1:</strong>
  <%= @contract.term1 %>
</p>

<p>
  <strong>Money1:</strong>
  <%= @contract.money1 %>
</p>

<p>
  <strong>Term2:</strong>
  <%= @contract.term2 %>
</p>

<p>
  <strong>Money2:</strong>
  <%= @contract.money2 %>
</p>

<p>
  <strong>New flag:</strong>
  <%= @contract.new_flag %>
</p>

<p>
  <strong>Skip flag:</strong>
  <%= @contract.skip_flag %>
</p>

<p>
  <strong>Staff nickname:</strong>
  <%= @contract.staff_nickname %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
