%header#header
  #inner
    %h1 メインメニュー
#contents.clearfix
  = render 'shared/side_menu'
  
  %main#main
    #messages_field
      = render 'shared/display_messages'
    %section#number_search
      %div#number_label.form_label
        %h2 契約番号から探す
      #number_form
        = search_form_for(@query, url: leafs_search_path, method: :post) do |f|
          = f.radio_button :vhiecle_type_eq, 1, id: 'vtype_1',
            class: 'custom_rd', checked: true
          = label_tag :vtype_1, '１号地',
            class: 'custom_rd_label blue_rd radius'
          = f.radio_button :vhiecle_type_eq, 2, id: 'vtype_2',
            class: 'custom_rd'
          = label_tag :vtype_2, 'バイク',
            class: 'custom_rd_label orange_rd radius'
          = f.radio_button :vhiecle_type_eq, 3, id: 'vtype_3',
            class: 'custom_rd'
          = label_tag :vtype_3, '２号地',
            class: 'custom_rd_label green_rd radius'
          %br
          = f.label :number, '契約番号'
          = f.search_field :number_eq, :id => 'number_input', :autofocus => true
          = f.hidden_field :valid_flag_eq, :value => true
          = f.submit '探す', :class => 'btn_submit'
    %section#name_search
      %div#name_label.form_label
        %h2 名前から探す
      #name_form
        %p#name_text= '名前またはフリガナの一部'
        = search_form_for(@query, url: leafs_search_path, method: :post) do |f|
          = f.search_field :customer_first_name_or_customer_last_name_cont, id: 'name_input'
          = f.submit '探す', :class => 'btn_submit'
      %aside
        %a#new_contract.radius{ :href => new_leaf_path }
          %p.link_text 新規契約の登録

%footer#footer
  #inner
%h2 解約したリーフの検索
= search_form_for(@query, url: leafs_search_path, method: :post) do |f|
  = f.label :number, '契約番号'
  = f.search_field :number_eq 
  = f.label :vhiecle_type, '契約種別'
  = f.search_field :vhiecle_type_eq 
  = f.hidden_field :valid_flag_eq, :value => false
  = f.submit
