#contracts_list
  // Seal form appears only once in the list.
  - sealform_flag = true
  - if @contracts_list.blank? then
    - 12.times do |i|
      .month_box
        .contract_box
          = i + 1
          月
        .seal_box
  - else
    - (@leaf.start_date.month.to_i - 1).times do |i|
      .month_box
        .contract_box
          = i + 1
          月
        .seal_box
    - @contracts_list.each do |c| 
      - c.seals.each_with_index do |s, i| 
        .month_box
          .contract_box.stamped
            = s.month.strftime('%-m')
            月
            %br
            = I18n.l c.contract_date, format: :short
            %br
            = c.staff_nickname
            %br
            - if (i == c.term1 - 1) 
              - if c.skip_flag
                休み
              - else
                = number_to_currency(c.money1.to_i, unit: '\\', format: '%u%n')
            - elsif c.term2 > 0 && (i == c.term1 + c.term2 - 1) 
              = number_to_currency(c.money2.to_i, unit: '\\', format: '%u%n')
            - else 
          - if s.sealed_flag then 
            .seal_box.stamped
              = I18n.l s.sealed_date, format: :short
              貼済
              %br
              = s.staff_nickname 
          - elsif sealform_flag && !c.skip_flag then 
            - sealform_flag = false
            .seal_box
              = form_for([@leaf,c,s], remote: true) do |f| 
                = f.hidden_field :sealed_flag, :value => true 
                = f.hidden_field :sealed_date, :value => Date.today 
                = f.submit(["#{s.month.strftime('%-m月')}分貼付"], class: 'seal_btn radius')
          - elsif 
            .seal_box
              シール未貼
    - last_month = @leaf.last_date.month.to_i
    - (12 - last_month).times do |i|
      .month_box
        .contract_box
          = last_month + (i + 1)
          月
        .seal_box
        - i += 1
