<p id="notice"><%= notice %></p>

<h1>Listing Leafs</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Vhiecle Type</th>
      <th>Student flag</th>
      <th>Largebike flag</th>
      <th>Valid flag</th>
      <th>Start date</th>
      <th>Last date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leafs.each do |leaf| %>
      <tr>
        <td><%= leaf.number %></td>
        <td><%= leaf.vhiecle_type %></td>
        <td><%= leaf.student_flag %></td>
        <td><%= leaf.largebike_flag %></td>
        <td><%= leaf.valid_flag %></td>
        <td><%= leaf.start_date %></td>
        <td><%= leaf.last_date %></td>
        <td><%= link_to '詳細', leaf %></td>
        <td><%= link_to '編集', edit_leaf_path(leaf) %></td>
        <td><% unless leaf.valid_flag %>
          <%= link_to '削除', leaf, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Leaf', new_leaf_path %>
