%h1 シール状態一括更新
= search_form_for(@query, url: multi_seals_update_path, method: :post) do |f|
  = f.label :vhiecle_type, '契約種別'
  = f.search_field :vhiecle_type_eq 
  = f.label :contracts_seals_month, '貼付け対象月'
  = f.month_field :contracts_seals_month_eq
  = f.hidden_field :valid_flag_eq, :value => true
  = f.hidden_field :contracts_seals_sealed_flag_eq, :value => false
  = f.submit
%hr
%br
= form_tag({ controller: :multi_seals_update, action: :update }, id: :multi_seals_update_form) do
  = label "multi_seals_update[month]", '貼付け対象月'
  = month_field_tag "multi_seals_update[month]"
  = label "multi_seals_update[sealed_date]", '貼付け作業日'
  = date_field_tag "multi_seals_update[sealed_date]"
%br
  - @seals_list.each do |seal|
    = label "multi_seals_update", seal.number.to_s
    = check_box_tag "multi_seals_update[seal_ids][]", seal.seal_id, nil, id: "seal_" + seal.seal_id.to_s
%br
  = submit_tag
