%p#notice= notice
%h1 Listing Customers
%table
  %thead
    %tr
      %th First name
      %th Last name
      %th First read
      %th Last read
      %th Sex
      %th Address
      %th Phone number
      %th Cell number
      %th Receipt
      %th Comment
      %th{:colspan => "3"}
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.first_name
        %td= customer.last_name
        %td= customer.first_read
        %td= customer.last_read
        %td= customer.sex
        %td= customer.address
        %td= customer.phone_number
        %td= customer.cell_number
        %td= customer.receipt
        %td= customer.comment
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Customer', new_customer_path
