<%= form_for(@seal) do |f| %>
  <% if @seal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seal.errors.count, "error") %> prohibited this seal from being saved:</h2>

      <ul>
      <% @seal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.text_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.date_select :month %>
  </div>
  <div class="field">
    <%= f.label :sealed_flag %><br>
    <%= f.check_box :sealed_flag %>
  </div>
  <div class="field">
    <%= f.label :sealed_date %><br>
    <%= f.date_select :sealed_date %>
  </div>
  <div class="field">
    <%= f.label :staff_nickname %><br>
    <%= f.text_field :staff_nickname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
