<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @seal.contract %>
</p>

<p>
  <strong>Month:</strong>
  <%= @seal.month %>
</p>

<p>
  <strong>Sealed flag:</strong>
  <%= @seal.sealed_flag %>
</p>

<p>
  <strong>Sealed date:</strong>
  <%= @seal.sealed_date %>
</p>

<p>
  <strong>Staff nickname:</strong>
  <%= @seal.staff_nickname %>
</p>

<%= link_to 'Edit', edit_seal_path(@seal) %> |
<%= link_to 'Back', seals_path %>
