%header#header
  #inner
    %h1 ログイン
#login_body.clearfix
  = form_tag( { action: :auth }, id: :login, autofocus: true ) do
    %fieldset#inputs{ style: "color: #000;" }
      .field
        = label_tag :nickname, 'スタッフ名'
        %br
        = text_field_tag :nickname, '', id: 'nickname', :autofocus => true
      .field
        = label_tag :password, 'パスワード'
        %br
        = password_field_tag :password, '', id: 'password'
    %fieldset#actions
      = submit_tag 'ログイン', id: 'submit'
    %p.error{ style: "color: #f00;" }
      = @error
      = flash[:error] 
    = hidden_field_tag :referer, flash[:referer]
